#controls
	Sort by 
	%a.btn.btn-small#sort_org Organization
	%a.btn.btn-small#sort_collection Collection
	%a.btn.btn-small#sort_size Size
	%a.btn.btn-small#sort_format Format
	.filters
		<a href="#" data-filter="*">show all</a>
#playground.iso-canvas
	- collections.each do |coll|
		.item{ class: "item_#{coll[:item_magnitude]}", style: "background:##{coll[:org_color]};border-bottom:2px solid ##{coll[:format_color]}", 'data-coll-size' => coll[:item_count], 'data-format' => coll[:format], 'data-coll-name' => coll[:collection_group_name], 'data-org' => coll[:org_name] }
			.coll-name= coll[:collection_name]
			.coll-parent-name
				= coll[:format]
				- if coll[:collection_name] != coll[:collection_group_name]
					<br>
					= coll[:collection_group_name]
				- if coll[:collection_name] != coll[:org_name] and coll[:collection_group_name] != coll[:org_name]
					<br>
					= "#{coll[:org_name]}"
			.details
				.detail
					There are 
					= coll[:item_count]
					items in this collection.
					It belongs to 
					%a{href: "http://digitalnz.org/records?i%5Bcontent_partner%5D=#{coll[:org_name].gsub(' ', '+')}"}
						= coll[:org_name]
