#popular
	
	%h1= "The #{items.size} most popular items from the National Library Online."

	- items.each_with_index do |item, i|
		- if item[3].nil?
			.popitem
				%a{href: item[2]}= "##{i + 1}. #{item[4]}"
		- else
			.popitem{style: "background-image:url(#{item[3]})"}
				%a{href: item[2]}= "##{i + 1}."
